* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  overflow-x: hidden;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
header.bg-color {
  background-color: rgb(24, 24, 24);
  box-shadow: 0 0 8px 12px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}
nav .fa {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}

#hero {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/banner.png);
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin-top: -82px;
}
.text-box {
  color: #fff;
  text-align: center;
}

.text-box h1 {
  font-size: 3.4rem;
}

.text-box p {
  margin: 0.8rem 0 2rem;
}

.text-box .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  transition: 0.3s;
}

#course {
  margin-top: 3rem;
  padding: 1.5rem;
  text-align: center;
}

#course h1 {
  font-size: 36px;
  font-weight: 600;
}

#course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
#course .row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#course .row .course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  /* margin-bottom: 5%; */
  gap: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

#course .row .course-col h3 {
  font-weight: 600;
  margin-block: 10px;
}

#course .row .course-col:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#campus {
  margin-top: 3rem;
  padding: 1.5rem;
  text-align: center;
}

#campus h1 {
  font-size: 36px;
  font-weight: 600;
}

#campus p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

#campus .row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  gap: 1rem;
}
#campus .campus-col {
  flex-basis: 32%;
  /* margin-bottom: 30px; */
  position: relative;
  overflow: hidden;
  gap: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.campus-col img {
  width: 100%;
  border-radius: 10px;
  /* height: 500px; */
}
/* ----------media query---------- */

@media (max-width: 950px) {
  .text-box h1 {
    font-size: 3rem;
  }

  #course h1 {
    font-size: 35px;
  }

  #campus h1 {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }

  .nav-links {
    position: fixed;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -100%;
    text-align: left;
    transition: all 0.3s ease;
    z-index: 2;
  }
  .nav-links ul li {
    display: block;
  }
  nav .fa {
    display: block;
  }
  .nav-links ul {
    padding: 30px;
  }
  #course .row {
    flex-direction: column;
    gap: 1.2rem;
  }
  #campus .row {
    flex-direction: column;
    /* gap: 1.2rem; */
  }
  #campus .campus-col {
    gap: 1rem;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .text-box h1 {
    font-size: 35px;
    margin-bottom: 1.5rem;
  }

  .text-box p {
    font-size: 15px;
  }
}
